@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
  background: #212121;
}
.card{
  width: 40% !important;
  cursor: pointer;
}
.card-content{
  display: flex !important;
}
.UserItem-leftBox{
  width: 20%;
}
.UserItem-rightBox{
  width: 80%;
}
.Home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.UserItem-name,
.UserItem-last_name,
.UserItem-facebook{
  font-family: 'Montserrat', sans-serif;
}